@import 'mixins';

.about-img-container, .about-text-container{
    @include mediumAndLess{
        margin: 15px;
    }
}

.about-text-container{
    text-align: justify;
}

.about-img-container{
        position: relative;
        display: inline-block;
    .cartoonImage, .profileImage{
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // -webkit-transform: translate(-50%, -50%);
        // -ms-transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);
        text-align: center;
      }
    .cartoonImage{
        // display: block;
        z-index:2;
        width: 240px;
        height: 300px;
    }
    .profileImage{
        // position: absolute;
        width: 240px;
        height: 300px;
        z-index: 1;
        transition: .8s ease-in-out;
    }
    &:hover{
        .profileImage{
            z-index: 3;
        }
    }    
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
    width: 240px;
    height: 300px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
