.contact-items-container{
    margin-bottom: 50px;
    .contact-item{
        @include smallAndLess{
            margin-bottom:50px;
        }
    }
}

.loading{
    min-width: 176.92px;
}

.contact-form-container{
    max-width: 720px;
    margin-bottom: 100px;
}

.social-items-container{
    margin-bottom:50px;
    max-width: 720px;
}
