.progress-bars-container {
    .row{
        margin: 10px 0px 10px;
        .progress{
            margin-top:10px;
        }
    }
}

.skill-item{
    display: block;
    padding: 8px 5px;
    background-color: #313131;
    color: #999;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-weight: 700;
    font-size: .75em;
    line-height: 1em;
    box-shadow: 1px 1px 0 rgba(0,0,0,.25);
    margin: 3px;
    opacity: 1;
    width: 120px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    span {
        position: relative;
        z-index: 2;
    }
}

.skill-item:after, .skill-item:before {
    content: " ";
    top: 0;
    left: 0;
    height: 50%;
    display: block;
    width: 100%;
    position: absolute;
    z-index: 1;
    -moz-transition: -moz-transform .3s cubic-bezier(.65,.05,.1,1);
    -o-transition: -o-transform .3s cubic-bezier(.65,.05,.1,1);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.65,.05,.1,1);
    transition: transform .3s cubic-bezier(.65,.05,.1,1);
}

.skill-item:before {
    top: 0;
    background-color: #515151;
    -moz-transform: translate3d(-105%,0,0);
    -ms-transform: translate3d(-105%,0,0);
    -webkit-transform: translate3d(-105%,0,0);
    transform: translate3d(-105%,0,0);
}

.skill-item:after {
    background-color: #3f3f3f;
    top: 50%;
    -moz-transform: translate3d(105%,0,0);
    -ms-transform: translate3d(105%,0,0);
    -webkit-transform: translate3d(105%,0,0);
    transform: translate3d(105%,0,0);
    -moz-transition-delay: 75ms;
    -o-transition-delay: 75ms;
    -webkit-transition-delay: 75ms;
    transition-delay: 75ms;
}

.skill-item.active:after, .skill-item.active:before, .skill-item:hover:after, .skill-item:hover:before {
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.progress-container{
    width:40%;
    @include extraSmallOnly {
        width:60%;
    }
    @include smallAndUp{
        width:40%;
    }
    @include mediumAndUp{
        width:50%;
    }
    @include extraLarge {
        width:40%;
    }
    .progress{
        height:27px!important;
        margin-top:5px!important;
        background-color:#999;
        .progress-bar{
            background-color: #333!important;
            transform: rotate(180deg);
        }  
    }
}
.item-value{
    @include extraSmallOnly {
        display:none;
    }
}

.tools{
    margin-bottom: 40px;
    background-color: white;
    .skillToolCol{
        // margin: 10px;
    }
    .skillTool{   
        height:100px;
        width:100px;
        padding: 20px 0px 10px 0px;
    }

}

// .row {
//     display: flex;
//     flex-wrap: wrap;
//     padding: 0 4px;
//   }
  
//   /* Create two equal columns that sits next to each other */
//   .column {
//     flex: 100%;
//     padding: 0 4px;
//   }
  
//   .column img {
//     margin-top: 8px;
//     vertical-align: middle;
//   }