@import "bootstrap/scss/bootstrap.scss";
@import 'mixins';
@import 'keyframes';

@import 'input';
@import 'button';
@import 'navBar';
@import 'pageControlArrows';

@import 'login';
@import 'home';
@import 'whatIDo';
@import 'about';
@import 'skills';
@import 'contact';

@import 'initial';

@import 'verticalTimeline';

/*
@import "transition";
*/


body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75em;
  color: #8a8a8a;
  background-color: #2a2a2a;
  text-align: center;
  overflow-y: scroll;
}
*, :after, :before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}

.main-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include smallAndUp{
    width: 530px;
  }
  @include mediumAndUp{
    width: 720px;
  }
  @include largeAndUp{
    width: 960px;
  }
  @include extraLarge{
    width: 1140px;
  }
}

.be-center {
  margin-right: auto;
  margin-left: auto;
}

.be-inline{
  display:inline-block;
}

.be-right-div {
  text-align: end;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #777777;
}

.core-1{
  color: #fed136;
}

.core-2{
  color:#009688;
}

.flex{
  display: flex;
}

.hidden-xs {
  @include extraSmallOnly {
    display: none!important;
  }
}

.hidden-sm {
  @include smallAndLess {
    display: none!important;
  }
}

.hidden-md {
  @include mediumAndLess {
    display: none!important;
  }
}


// Scroll bar slim style
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.body {
  background-color: #333333;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}



/* Work Section */
/* .work-page {
  display:flex;
  justify-content: space-between;
} */

/* Contact Section */

// #footer {
//   bottom:0px;
//   height: 40px;
//   width: 100%;
//   background-color: #121e1f;
//   color: #7d8384;
// }

// .error{
//   border:2px solid #999;
//   padding: 5px;
//   margin: 5rem auto;;
//   max-width: 600px;
//   .core-btn{
//       margin: 2rem;
//       width:15rem;
//   }
//   @media smallAndUp{
//       padding: 5rem;
//   }
// }